<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnythingSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnythingSearch.Properties.Settings>
            <setting name="IsNewInstallations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetSpeedMeterProVersionInfo" serializeAs="String">
                <value>https://netspeedm.com/index.php/pro-version/</value>
            </setting>
            <setting name="AppInstalledDate" serializeAs="String">
                <value>08/01/2023 21:32:00</value>
            </setting>
        </AnythingSearch.Properties.Settings>
    </userSettings>
</configuration>